<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filesByName</key>
	<dict>
		<key>check_if_mounted.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:39Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>1427ba56873449ce773d58c5b5fd100f</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>check_if_mounted</string>
			<key>transientRecordID</key>
			<integer>742</integer>
		</dict>
		<key>check_multiple_conditions.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:39Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>e1ac67ca109a18246788c9f52efb6031</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>check_multiple_conditions</string>
			<key>transientRecordID</key>
			<integer>743</integer>
		</dict>
		<key>checkf_symbolic_link.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:39Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>0599d82724b9b6100e5ab411d0caf10a</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>checkf_symbolic_link</string>
			<key>transientRecordID</key>
			<integer>744</integer>
		</dict>
		<key>compare_time_stamp.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:39Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>495fe89f3f1ff021ee4fe5c6f7f8a5cd</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>compare_time_stamp</string>
			<key>transientRecordID</key>
			<integer>745</integer>
		</dict>
		<key>how_to_capitalize_uppercase_lowercase_etc.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:39Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>68da6da067647c7636f76a235f0fd345</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>how_to_capitalize_uppercase_lowercase_etc</string>
			<key>transientRecordID</key>
			<integer>746</integer>
		</dict>
		<key>infinite_loop.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:39Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>f1b47cce9d5a8b91af391c62cf3db851</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>infinite_loop</string>
			<key>transientRecordID</key>
			<integer>747</integer>
		</dict>
		<key>list_files_except.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:39Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>487d9cd7a2b8e5c9343025e13cbb9486</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>list_files_except</string>
			<key>transientRecordID</key>
			<integer>748</integer>
		</dict>
		<key>lowercase_uppercase.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:40Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>90698038a0d6a43e3c7d76d6c834a164</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>lowercase_uppercase</string>
			<key>transientRecordID</key>
			<integer>749</integer>
		</dict>
		<key>read_password_without_echo.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:40Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>45d9b6882ee19b70cb137d21f2c324cd</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>read_password_without_echo</string>
			<key>transientRecordID</key>
			<integer>750</integer>
		</dict>
		<key>read_passwords_silently.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:40Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>9d402101c5c2f0d0e82d8c2f98fdf143</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>read_passwords_silently</string>
			<key>transientRecordID</key>
			<integer>751</integer>
		</dict>
		<key>read_with_default_answer.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:40Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>a77cce1e41fd32213e82d1211b2c928f</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>read_with_default_answer</string>
			<key>transientRecordID</key>
			<integer>752</integer>
		</dict>
		<key>sha_encryption.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:40Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>c832c83df07a6a29015a36b0a39bd32d</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>sha_encryption</string>
			<key>transientRecordID</key>
			<integer>753</integer>
		</dict>
		<key>start_bash_script_in_xterm_with_doubleclick.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:40Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>e9cc444de9d10fcb803a738494b7d74c</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>start_bash_script_in_xterm_with_doubleclick</string>
			<key>transientRecordID</key>
			<integer>754</integer>
		</dict>
		<key>strip_newlines_at_the_end.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:40Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>0068fc2054a6b83c17011b6a4157ebd4</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>strip_newlines_at_the_end</string>
			<key>transientRecordID</key>
			<integer>755</integer>
		</dict>
		<key>variable_expansion.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:40Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>d766342463dde28801f324eb961c56a6</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>variable_expansion</string>
			<key>transientRecordID</key>
			<integer>756</integer>
		</dict>
	</dict>
	<key>folder</key>
	<string>Files/notebooks/technotes/wiki_old/Notes/bash</string>
	<key>library</key>
	<string>../../../../../../bkb-cloud.eflibrary</string>
	<key>tags</key>
	<dict>
		<key>tagsByName</key>
		<dict>
			<key>unread</key>
			<dict>
				<key>abbreviation</key>
				<string>●</string>
				<key>color</key>
				<array>
					<real>0.29999999999999999</real>
					<real>0.39600000000000002</real>
					<real>0.81000000000000005</real>
					<real>1</real>
				</array>
			</dict>
		</dict>
	</dict>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
