<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filesByName</key>
	<dict>
		<key>gpg-and-gpg-agent.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:43Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>ab6bacb8c944e94f9211f0e779f0725b</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>gpg-and-gpg-agent</string>
			<key>transientRecordID</key>
			<integer>788</integer>
		</dict>
		<key>here-doc-bash.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:43Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>2b0688d901c3c6f9208844b0804e441e</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>here-doc-bash</string>
			<key>transientRecordID</key>
			<integer>789</integer>
		</dict>
		<key>keychain_and_fish.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:43Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>241a0b34b66ecba641fc7c128a765be1</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>keychain_and_fish</string>
			<key>transientRecordID</key>
			<integer>790</integer>
		</dict>
		<key>rsync-dir-sync.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:43Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:10Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>939447f194bff9ef17ccd2d2d1901ce6</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>rsync-dir-sync</string>
			<key>transientRecordID</key>
			<integer>791</integer>
		</dict>
	</dict>
	<key>folder</key>
	<string>Files/notebooks/technotes/wiki_old/Notes/memos</string>
	<key>library</key>
	<string>../../../../../../bkb-cloud.eflibrary</string>
	<key>tags</key>
	<dict>
		<key>tagsByName</key>
		<dict>
			<key>unread</key>
			<dict>
				<key>abbreviation</key>
				<string>●</string>
				<key>color</key>
				<array>
					<real>0.29999999999999999</real>
					<real>0.39600000000000002</real>
					<real>0.81000000000000005</real>
					<real>1</real>
				</array>
			</dict>
		</dict>
	</dict>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
