<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filesByName</key>
	<dict>
		<key>gpg-and-gpg-agent.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:13Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>77aac467933c3a235a770c4a091eaf40</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>gpg-and-gpg-agent</string>
			<key>transientRecordID</key>
			<integer>478</integer>
		</dict>
		<key>here-doc-bash</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:13Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>3b522194db7db942d007a0743d10d435</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>here-doc-bash</string>
			<key>transientRecordID</key>
			<integer>479</integer>
		</dict>
		<key>index.md</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:13Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>40b6804915909869294e1cb2e20943db</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>index</string>
			<key>transientRecordID</key>
			<integer>480</integer>
		</dict>
		<key>keychain_and_fish.md</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:13Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>8aca2398bc3daa3f2087a8093297d887</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>keychain_and_fish</string>
			<key>transientRecordID</key>
			<integer>481</integer>
		</dict>
		<key>rsync-dir-sync.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:14Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>28450390fe8b165033c51d29d81e0ae1</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>rsync-dir-sync</string>
			<key>transientRecordID</key>
			<integer>482</integer>
		</dict>
	</dict>
	<key>folder</key>
	<string>Files/notebooks/technotes/memos</string>
	<key>library</key>
	<string>../../../../bkb-cloud.eflibrary</string>
	<key>tags</key>
	<dict>
		<key>tagsByName</key>
		<dict>
			<key>unread</key>
			<dict>
				<key>abbreviation</key>
				<string>●</string>
				<key>color</key>
				<array>
					<real>0.29999999999999999</real>
					<real>0.39600000000000002</real>
					<real>0.81000000000000005</real>
					<real>1</real>
				</array>
			</dict>
		</dict>
	</dict>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
