<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filesByName</key>
	<dict>
		<key>BookProperties.plist</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:08Z</date>
			<key>dateCreated</key>
			<date>2017-07-22T23:26:39Z</date>
			<key>dateModified</key>
			<date>2017-07-22T23:26:39Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>fd16e2343326d1e979c4426587a940e8</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>BookProperties</string>
			<key>transientRecordID</key>
			<integer>424</integer>
		</dict>
		<key>Cnnnote.md</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:09Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>60d137d07ce35266efd95e1434295bda</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>Cnnnote</string>
			<key>transientRecordID</key>
			<integer>436</integer>
		</dict>
		<key>Getting Started.html</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:11Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:14Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:14Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>0c81001e3acb6e031f2b9eba4a43fb0a</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>Getting Started</string>
			<key>transientRecordID</key>
			<integer>461</integer>
		</dict>
		<key>apache</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:05Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>392</integer>
		</dict>
		<key>applescript</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:05Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>395</integer>
		</dict>
		<key>applescript.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:06Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:14Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:14Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>cd29eef3ffec0cfa718073bf176dfaa3</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>applescript</string>
			<key>transientRecordID</key>
			<integer>405</integer>
		</dict>
		<key>applescript.txt.plist</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:06Z</date>
			<key>dateCreated</key>
			<date>2017-11-11T11:15:15Z</date>
			<key>dateModified</key>
			<date>2017-11-11T11:15:15Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>6d86445357435b4ed5706424fcc78ff9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>applescript.txt</string>
			<key>transientRecordID</key>
			<integer>406</integer>
		</dict>
		<key>attm</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:06Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>407</integer>
		</dict>
		<key>bash</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:07Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>409</integer>
		</dict>
		<key>c</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:08Z</date>
			<key>dateCreated</key>
			<date>2017-11-03T20:40:27Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>425</integer>
		</dict>
		<key>chrome</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:09Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>430</integer>
		</dict>
		<key>clojure</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:09Z</date>
			<key>dateCreated</key>
			<date>2017-09-19T15:30:54Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>434</integer>
		</dict>
		<key>clojure.md</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:09Z</date>
			<key>dateCreated</key>
			<date>2017-09-19T15:31:38Z</date>
			<key>dateModified</key>
			<date>2017-09-19T15:31:38Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>ead62ee8ba3b37d88c9e957375bf0b01</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>clojure</string>
			<key>transientRecordID</key>
			<integer>435</integer>
		</dict>
		<key>curl.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:09Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>04825c48fac932f8544ed9f5ae3b04a2</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>curl</string>
			<key>transientRecordID</key>
			<integer>437</integer>
		</dict>
		<key>curl.txt.plist</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:09Z</date>
			<key>dateCreated</key>
			<date>2017-07-22T23:26:56Z</date>
			<key>dateModified</key>
			<date>2017-07-22T23:26:56Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>fea0e3c942d08a792a24b8d289e7a89b</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>curl.txt</string>
			<key>transientRecordID</key>
			<integer>438</integer>
		</dict>
		<key>date.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:09Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>91e8e8edfa8fd1cfe08ac29e3e7491f9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>date</string>
			<key>transientRecordID</key>
			<integer>439</integer>
		</dict>
		<key>date.txt.plist</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:09Z</date>
			<key>dateCreated</key>
			<date>2017-11-11T11:15:13Z</date>
			<key>dateModified</key>
			<date>2017-11-11T11:15:13Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>4a0fb8d76bab8e68a0ad0145ad5fc0e8</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>date.txt</string>
			<key>transientRecordID</key>
			<integer>440</integer>
		</dict>
		<key>dialog</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:10Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>441</integer>
		</dict>
		<key>docker.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:10Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:14Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:14Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>b4171e49794c5db8de5f10e99bb317bb</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>docker</string>
			<key>transientRecordID</key>
			<integer>443</integer>
		</dict>
		<key>docker.txt.plist</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:10Z</date>
			<key>dateCreated</key>
			<date>2017-11-11T11:15:13Z</date>
			<key>dateModified</key>
			<date>2017-11-11T11:15:13Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>6d86445357435b4ed5706424fcc78ff9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>docker.txt</string>
			<key>transientRecordID</key>
			<integer>444</integer>
		</dict>
		<key>dotfiles.md</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:10Z</date>
			<key>dateCreated</key>
			<date>2017-10-12T11:37:48Z</date>
			<key>dateModified</key>
			<date>2017-10-12T11:37:48Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>27327f591bcd3ec6704ef63e62260ed3</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>dotfiles</string>
			<key>transientRecordID</key>
			<integer>445</integer>
		</dict>
		<key>dotfiles.md.plist</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:10Z</date>
			<key>dateCreated</key>
			<date>2017-11-11T11:15:14Z</date>
			<key>dateModified</key>
			<date>2017-11-11T11:15:14Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>953defd2bd0808f5f0b84c17b6709028</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>dotfiles.md</string>
			<key>transientRecordID</key>
			<integer>446</integer>
		</dict>
		<key>find.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:10Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:15Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:15Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>479e4cdbb583e5eb036e6270af93f965</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>find</string>
			<key>transientRecordID</key>
			<integer>447</integer>
		</dict>
		<key>firefox.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:10Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:15Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:15Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>69c3a9e359a7a28a283b98ed5c85c206</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>firefox</string>
			<key>transientRecordID</key>
			<integer>448</integer>
		</dict>
		<key>fish</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:10Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>449</integer>
		</dict>
		<key>fish.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:11Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>2a5943071aa7448d69c6083392da25a1</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>fish</string>
			<key>transientRecordID</key>
			<integer>453</integer>
		</dict>
		<key>fonts.md</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:11Z</date>
			<key>dateCreated</key>
			<date>2017-10-12T11:34:09Z</date>
			<key>dateModified</key>
			<date>2017-10-12T11:34:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>064bd4246ece462610807104d8cac6fc</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>fonts</string>
			<key>transientRecordID</key>
			<integer>454</integer>
		</dict>
		<key>fossil.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:11Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>b1f74b8f5f1f6260bedb27738dfde7f4</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>fossil</string>
			<key>transientRecordID</key>
			<integer>455</integer>
		</dict>
		<key>ftp.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:11Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>b6fc6d3f2e2e77745f053e10c149d94d</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>ftp</string>
			<key>transientRecordID</key>
			<integer>456</integer>
		</dict>
		<key>gcli</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:11Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>457</integer>
		</dict>
		<key>gnupg</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:12Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>462</integer>
		</dict>
		<key>gnupg.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:12Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>265f9fe92d22082deb973763bc9afa74</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>gnupg</string>
			<key>transientRecordID</key>
			<integer>466</integer>
		</dict>
		<key>install.sh</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:12Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>ed16eaf01ed015b478333bcae99f1037</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>install</string>
			<key>transientRecordID</key>
			<integer>467</integer>
		</dict>
		<key>keepass</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:12Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>468</integer>
		</dict>
		<key>mac</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:12Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>470</integer>
		</dict>
		<key>make</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:13Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>472</integer>
		</dict>
		<key>markiii.md</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:13Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>460edee24cc08375fdd18449c62160a4</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>markiii</string>
			<key>transientRecordID</key>
			<integer>476</integer>
		</dict>
		<key>memos</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:13Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>477</integer>
		</dict>
		<key>mirage</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:14Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>483</integer>
		</dict>
		<key>mirage.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:14Z</date>
			<key>dateCreated</key>
			<date>2017-07-30T18:23:50Z</date>
			<key>dateModified</key>
			<date>2017-07-30T18:23:50Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>1df5241d280a79b8dba2de4ae74125be</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>mirage</string>
			<key>transientRecordID</key>
			<integer>487</integer>
		</dict>
		<key>misc</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:14Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:30Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>488</integer>
		</dict>
		<key>notes</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:22Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>560</integer>
		</dict>
		<key>ocaml</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:25Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>587</integer>
		</dict>
		<key>perl</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:25Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>589</integer>
		</dict>
		<key>perl-oneliner</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:25Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>595</integer>
		</dict>
		<key>perl.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:26Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:14Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:14Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>b34fc794671c49938d53039ff578d7aa</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>perl</string>
			<key>transientRecordID</key>
			<integer>599</integer>
		</dict>
		<key>pgrep.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:26Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:15Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:15Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>1721b0d290f360d5fb6a04d772133d77</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>pgrep</string>
			<key>transientRecordID</key>
			<integer>600</integer>
		</dict>
		<key>racket</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:26Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>601</integer>
		</dict>
		<key>resilio</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:26Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>603</integer>
		</dict>
		<key>resilio.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:27Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>32664a4eb99bb2fbbe3a0d48876f267f</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>resilio</string>
			<key>transientRecordID</key>
			<integer>610</integer>
		</dict>
		<key>routers</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:27Z</date>
			<key>dateCreated</key>
			<date>2017-11-16T09:16:49Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>611</integer>
		</dict>
		<key>rsync</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:27Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>615</integer>
		</dict>
		<key>scheme</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:27Z</date>
			<key>dateCreated</key>
			<date>2017-09-15T18:47:01Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>618</integer>
		</dict>
		<key>scheme-chez.md</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:28Z</date>
			<key>dateCreated</key>
			<date>2017-09-15T14:16:45Z</date>
			<key>dateModified</key>
			<date>2017-09-15T14:16:45Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>e43a89e2b9ded6704a9d5e1803324fb6</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>scheme-chez</string>
			<key>transientRecordID</key>
			<integer>622</integer>
		</dict>
		<key>scheme-chez.md.plist</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:28Z</date>
			<key>dateCreated</key>
			<date>2017-11-11T11:15:39Z</date>
			<key>dateModified</key>
			<date>2017-11-11T11:15:39Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>c9c3ef7318001c400a7a5dd078629621</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>scheme-chez.md</string>
			<key>transientRecordID</key>
			<integer>623</integer>
		</dict>
		<key>scheme-gambit</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:28Z</date>
			<key>dateCreated</key>
			<date>2017-09-19T15:40:10Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>624</integer>
		</dict>
		<key>scheme-gambit.md</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:28Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:27:34Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:27:34Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>b24a841ae33c5be88e0864f7fae321ac</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>scheme-gambit</string>
			<key>transientRecordID</key>
			<integer>628</integer>
		</dict>
		<key>scheme-gambit.md.plist</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:28Z</date>
			<key>dateCreated</key>
			<date>2017-11-11T11:15:32Z</date>
			<key>dateModified</key>
			<date>2017-11-11T11:15:32Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>275647a25be147183d2112a403153e21</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>scheme-gambit.md</string>
			<key>transientRecordID</key>
			<integer>629</integer>
		</dict>
		<key>scheme-racket.md</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:29Z</date>
			<key>dateCreated</key>
			<date>2017-09-15T13:52:23Z</date>
			<key>dateModified</key>
			<date>2017-09-15T13:52:23Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>dc667cbb3912e2196aff704e715b1b6e</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>scheme-racket</string>
			<key>transientRecordID</key>
			<integer>630</integer>
		</dict>
		<key>scheme-racket.md.plist</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:29Z</date>
			<key>dateCreated</key>
			<date>2017-11-11T11:15:30Z</date>
			<key>dateModified</key>
			<date>2017-11-11T11:15:30Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>729f0023b4187ac0a9a243fffe3c4dcb</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>scheme-racket.md</string>
			<key>transientRecordID</key>
			<integer>631</integer>
		</dict>
		<key>scheme.md</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:29Z</date>
			<key>dateCreated</key>
			<date>2017-09-15T14:48:13Z</date>
			<key>dateModified</key>
			<date>2017-09-15T14:48:13Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>f7f61a8b288ab5aa4a71d110730cd77c</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>scheme</string>
			<key>transientRecordID</key>
			<integer>632</integer>
		</dict>
		<key>sed</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:29Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>633</integer>
		</dict>
		<key>ssh</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:29Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>635</integer>
		</dict>
		<key>ssl.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:31Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:15Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:15Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>4ec533bc0d1bb38b0dec71b7739e4b21</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>ssl</string>
			<key>transientRecordID</key>
			<integer>656</integer>
		</dict>
		<key>ssl.txt.plist</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:31Z</date>
			<key>dateCreated</key>
			<date>2017-07-22T23:27:31Z</date>
			<key>dateModified</key>
			<date>2017-07-22T23:27:31Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>918f7d36007697d112c93c102e698a8d</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>ssl.txt</string>
			<key>transientRecordID</key>
			<integer>657</integer>
		</dict>
		<key>synergy</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:31Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>658</integer>
		</dict>
		<key>synology</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:31Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>660</integer>
		</dict>
		<key>tar.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:32Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>b9caf4fa08f81362c6b9293918233bda</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>tar</string>
			<key>transientRecordID</key>
			<integer>670</integer>
		</dict>
		<key>tar.txt.plist</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:32Z</date>
			<key>dateCreated</key>
			<date>2017-07-23T15:57:11Z</date>
			<key>dateModified</key>
			<date>2017-07-23T15:57:11Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>4a0fb8d76bab8e68a0ad0145ad5fc0e8</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>tar.txt</string>
			<key>transientRecordID</key>
			<integer>671</integer>
		</dict>
		<key>tmux</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:33Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>672</integer>
		</dict>
		<key>tmux.md</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:33Z</date>
			<key>dateCreated</key>
			<date>2017-10-30T15:00:55Z</date>
			<key>dateModified</key>
			<date>2017-10-30T15:00:55Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>ae0978086e97ea43c345bc08c3d7d4b2</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>tmux</string>
			<key>transientRecordID</key>
			<integer>676</integer>
		</dict>
		<key>ubuntu</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:33Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>677</integer>
		</dict>
		<key>ubuntu.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:34Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>569c9c8e2b7db71b7f38183b9488d8d6</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>ubuntu</string>
			<key>transientRecordID</key>
			<integer>686</integer>
		</dict>
		<key>ubuntu.txt.plist</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:34Z</date>
			<key>dateCreated</key>
			<date>2017-11-11T11:15:41Z</date>
			<key>dateModified</key>
			<date>2017-11-11T11:15:41Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>fea0e3c942d08a792a24b8d289e7a89b</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>ubuntu.txt</string>
			<key>transientRecordID</key>
			<integer>687</integer>
		</dict>
		<key>unison</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:34Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>688</integer>
		</dict>
		<key>urxvt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:34Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>691</integer>
		</dict>
		<key>urxvt.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:34Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:15Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:15Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>f730472a3d8f6f78ebc27d03bde6738a</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>urxvt</string>
			<key>transientRecordID</key>
			<integer>694</integer>
		</dict>
		<key>urxvt.txt.plist</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:35Z</date>
			<key>dateCreated</key>
			<date>2017-11-11T11:15:45Z</date>
			<key>dateModified</key>
			<date>2017-11-11T11:15:45Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>918f7d36007697d112c93c102e698a8d</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>urxvt.txt</string>
			<key>transientRecordID</key>
			<integer>695</integer>
		</dict>
		<key>vim</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:35Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>696</integer>
		</dict>
		<key>vim.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:35Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>0ea14a133034741b8619d452c1ca2aa0</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>vim</string>
			<key>transientRecordID</key>
			<integer>698</integer>
		</dict>
		<key>vim.txt.plist</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:35Z</date>
			<key>dateCreated</key>
			<date>2017-11-11T11:16:36Z</date>
			<key>dateModified</key>
			<date>2017-11-11T11:16:36Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>4a0fb8d76bab8e68a0ad0145ad5fc0e8</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>vim.txt</string>
			<key>transientRecordID</key>
			<integer>699</integer>
		</dict>
		<key>webdav</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:35Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>700</integer>
		</dict>
		<key>wiki_old</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:35Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>703</integer>
		</dict>
		<key>x11</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:52Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:20Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>881</integer>
		</dict>
		<key>zathura</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:53Z</date>
			<key>dateCreated</key>
			<date>2017-09-11T11:17:13Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>886</integer>
		</dict>
	</dict>
	<key>folder</key>
	<string>Files/notebooks/technotes</string>
	<key>library</key>
	<string>../../../bkb-cloud.eflibrary</string>
	<key>tags</key>
	<dict>
		<key>tagsByName</key>
		<dict>
			<key>unread</key>
			<dict>
				<key>abbreviation</key>
				<string>●</string>
				<key>color</key>
				<array>
					<real>0.29999999999999999</real>
					<real>0.39600000000000002</real>
					<real>0.81000000000000005</real>
					<real>1</real>
				</array>
			</dict>
		</dict>
	</dict>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
