<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filesByName</key>
	<dict>
		<key>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.1.txt.1e20593812b88ea4088963b064767090.unison.tmp</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:14Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T12:00:47Z</date>
			<key>dateModified</key>
			<date>2017-11-27T12:00:47Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>2c3eaa48467422ea290b042e759b65b9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.1.txt.1e20593812b88ea4088963b064767090.unison</string>
			<key>transientRecordID</key>
			<integer>490</integer>
		</dict>
		<key>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.2.txt.1e20593812b88ea4088963b064767090.unison.tmp</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:14Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T12:00:47Z</date>
			<key>dateModified</key>
			<date>2017-11-27T12:00:47Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>2c3eaa48467422ea290b042e759b65b9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.2.txt.1e20593812b88ea4088963b064767090.unison</string>
			<key>transientRecordID</key>
			<integer>491</integer>
		</dict>
		<key>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.3.txt.1e20593812b88ea4088963b064767090.unison.tmp</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:15Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T12:00:48Z</date>
			<key>dateModified</key>
			<date>2017-11-27T12:00:48Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>2c3eaa48467422ea290b042e759b65b9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.3.txt.1e20593812b88ea4088963b064767090.unison</string>
			<key>transientRecordID</key>
			<integer>492</integer>
		</dict>
		<key>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.4.txt.1e20593812b88ea4088963b064767090.unison.tmp</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:15Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T12:00:48Z</date>
			<key>dateModified</key>
			<date>2017-11-27T12:00:48Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>2c3eaa48467422ea290b042e759b65b9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.4.txt.1e20593812b88ea4088963b064767090.unison</string>
			<key>transientRecordID</key>
			<integer>493</integer>
		</dict>
		<key>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.5.txt.1e20593812b88ea4088963b064767090.unison.tmp</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:15Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T12:00:48Z</date>
			<key>dateModified</key>
			<date>2017-11-27T12:00:48Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>2c3eaa48467422ea290b042e759b65b9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.5.txt.1e20593812b88ea4088963b064767090.unison</string>
			<key>transientRecordID</key>
			<integer>494</integer>
		</dict>
		<key>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.6.txt.1e20593812b88ea4088963b064767090.unison.tmp</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:15Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T12:00:49Z</date>
			<key>dateModified</key>
			<date>2017-11-27T12:00:49Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>2c3eaa48467422ea290b042e759b65b9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.6.txt.1e20593812b88ea4088963b064767090.unison</string>
			<key>transientRecordID</key>
			<integer>495</integer>
		</dict>
		<key>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.7.txt.1e20593812b88ea4088963b064767090.unison.tmp</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:15Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T12:00:49Z</date>
			<key>dateModified</key>
			<date>2017-11-27T12:00:49Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>2c3eaa48467422ea290b042e759b65b9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.7.txt.1e20593812b88ea4088963b064767090.unison</string>
			<key>transientRecordID</key>
			<integer>496</integer>
		</dict>
		<key>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.8.txt.1e20593812b88ea4088963b064767090.unison.tmp</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:15Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T12:00:50Z</date>
			<key>dateModified</key>
			<date>2017-11-27T12:00:50Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>2c3eaa48467422ea290b042e759b65b9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.8.txt.1e20593812b88ea4088963b064767090.unison</string>
			<key>transientRecordID</key>
			<integer>497</integer>
		</dict>
		<key>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.9.txt.1e20593812b88ea4088963b064767090.unison.tmp</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:15Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T12:00:50Z</date>
			<key>dateModified</key>
			<date>2017-11-27T12:00:50Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>2c3eaa48467422ea290b042e759b65b9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.9.txt.1e20593812b88ea4088963b064767090.unison</string>
			<key>transientRecordID</key>
			<integer>498</integer>
		</dict>
		<key>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.txt.1e20593812b88ea4088963b064767090.unison.tmp</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:16Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T12:00:50Z</date>
			<key>dateModified</key>
			<date>2017-11-27T12:00:50Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>2c3eaa48467422ea290b042e759b65b9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>.unison.Stack (abstract data type) - Wikipedia, the free encyclopedia.txt.1e20593812b88ea4088963b064767090.unison</string>
			<key>transientRecordID</key>
			<integer>499</integer>
		</dict>
		<key>.unison.notes_settings.1e20593812b88ea4088963b064767090.unison.tmp</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:14Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T12:00:51Z</date>
			<key>dateModified</key>
			<date>2017-11-27T12:00:51Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>356feb0f9fcf7329e82cfcd9699ea19f</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>.unison.notes_settings.1e20593812b88ea4088963b064767090.unison</string>
			<key>transientRecordID</key>
			<integer>489</integer>
		</dict>
		<key>20_things_i_should_have_known_at_20.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:16Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:31Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:31Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>26eee1518a91ef0a9de649791988e04b</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>20_things_i_should_have_known_at_20</string>
			<key>transientRecordID</key>
			<integer>500</integer>
		</dict>
		<key>_github_1_github_2_3_clojure_py_.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:16Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:31Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:31Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>bf3366da3e3758b6b31572f64897565c</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>_github_1_github_2_3_clojure_py_</string>
			<key>transientRecordID</key>
			<integer>501</integer>
		</dict>
		<key>applescript.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:16Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:31Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:31Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>d41d8cd98f00b204e9800998ecf8427e</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>applescript</string>
			<key>transientRecordID</key>
			<integer>502</integer>
		</dict>
		<key>bash_regex_case_insensetive_possible_the_unix_and_linux_forums.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:16Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:32Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:32Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>ad8c1edf7aaab60de16d9af93ead7c08</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>bash_regex_case_insensetive_possible_the_unix_and_linux_forums</string>
			<key>transientRecordID</key>
			<integer>503</integer>
		</dict>
		<key>bash_regular_expressions.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:16Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:32Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:32Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>450cf6bfde36ab78925d31e9c8fc4931</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>bash_regular_expressions</string>
			<key>transientRecordID</key>
			<integer>504</integer>
		</dict>
		<key>build_error_guile_on_mac_os_x.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:16Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:32Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:32Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>3e801c609ce6d5308f45045865a30140</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>build_error_guile_on_mac_os_x</string>
			<key>transientRecordID</key>
			<integer>505</integer>
		</dict>
		<key>c_programming_language.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:16Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:33Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:33Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>cd86cf278fc2e9d2c77f67e90d1a8085</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>c_programming_language</string>
			<key>transientRecordID</key>
			<integer>506</integer>
		</dict>
		<key>call_shell_script_or_shell_command_from_applescript.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:16Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:33Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:33Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>5b84e945f590555c3d3c1356db0744c4</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>call_shell_script_or_shell_command_from_applescript</string>
			<key>transientRecordID</key>
			<integer>507</integer>
		</dict>
		<key>clojure_output_a_string_to_the_console.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:17Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:34Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:34Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>70c0f95a30b8a6c0a62cd06665df5d91</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>clojure_output_a_string_to_the_console</string>
			<key>transientRecordID</key>
			<integer>508</integer>
		</dict>
		<key>closure_computer_science_wikipedia.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:17Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:34Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:34Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>7304a877c7113b8a1153c8957a25159d</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>closure_computer_science_wikipedia</string>
			<key>transientRecordID</key>
			<integer>509</integer>
		</dict>
		<key>configure_error_guile_on_mac_os_x.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:17Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:34Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:34Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>002260107c47d0c668d3ef228926e5aa</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>configure_error_guile_on_mac_os_x</string>
			<key>transientRecordID</key>
			<integer>510</integer>
		</dict>
		<key>connect_to_mysql_with_c_from_cybercity.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:17Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:35Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:35Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>9244a591e223b392f46113ba043cd819</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>connect_to_mysql_with_c_from_cybercity</string>
			<key>transientRecordID</key>
			<integer>511</integer>
		</dict>
		<key>decrypt_a_file_with_gpg.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:17Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:35Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:35Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>28d0adbc4173aa58f352683c86ac9b1d</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>decrypt_a_file_with_gpg</string>
			<key>transientRecordID</key>
			<integer>512</integer>
		</dict>
		<key>encrypt_a_file_with_gpg.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:17Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:36Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:36Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>8bc4127aba3a99d7c60e1b02782deaf3</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>encrypt_a_file_with_gpg</string>
			<key>transientRecordID</key>
			<integer>513</integer>
		</dict>
		<key>engineeringexception_google_chrome_meets_applescript.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:17Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:36Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:36Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>623d1974bded6b0aeb4a9cfd07133ed1</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>engineeringexception_google_chrome_meets_applescript</string>
			<key>transientRecordID</key>
			<integer>514</integer>
		</dict>
		<key>engineeringexception_google_chrome_meets_applescript_1.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:17Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:36Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:36Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>a56e354ccdd6f176178ee98f5ca04cc7</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>engineeringexception_google_chrome_meets_applescript_1</string>
			<key>transientRecordID</key>
			<integer>515</integer>
		</dict>
		<key>gcc_on_os_x_lion_with_xcode_4_3_1_solving_build_issues_involving_gcc.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:17Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:37Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:37Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>44798bf074c497b41132b1ccf9154718</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>gcc_on_os_x_lion_with_xcode_4_3_1_solving_build_issues_involving_gcc</string>
			<key>transientRecordID</key>
			<integer>516</integer>
		</dict>
		<key>halgari_clojure_py_github.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:17Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:38Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:38Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>08074c6c0c323874f24679424813d646</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>halgari_clojure_py_github</string>
			<key>transientRecordID</key>
			<integer>517</integer>
		</dict>
		<key>halgari_clojure_py_github_1.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:18Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:37Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:37Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>00ec7c2a323c8748ae0fb022e1688ba9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>halgari_clojure_py_github_1</string>
			<key>transientRecordID</key>
			<integer>518</integer>
		</dict>
		<key>http_www_20min_ch_schweiz_news_story_jetzt_will_die_svp_das_alte_immunitaets_gesetz_zurueck_20269931.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:18Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:38Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:38Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>06df96e90d3f971e8fbad5cb6230b030</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>http_www_20min_ch_schweiz_news_story_jetzt_will_die_svp_das_alte_immunitaets_gesetz_zurueck_20269931</string>
			<key>transientRecordID</key>
			<integer>519</integer>
		</dict>
		<key>in_defense_of_newlisp.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:18Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:39Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:39Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>7ec585e4f33545142f822ab9246c7790</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>in_defense_of_newlisp</string>
			<key>transientRecordID</key>
			<integer>520</integer>
		</dict>
		<key>in_defense_of_newlisp_artful_code.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:18Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:38Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:38Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>3349848deb2c2791956275fb2f013c57</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>in_defense_of_newlisp_artful_code</string>
			<key>transientRecordID</key>
			<integer>521</integer>
		</dict>
		<key>kdaskadfsdf.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:18Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:39Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:39Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>37befde4bd4a23887fe3adb2b796b18d</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>kdaskadfsdf</string>
			<key>transientRecordID</key>
			<integer>522</integer>
		</dict>
		<key>langref_org_clojure_regex.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:18Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:40Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:40Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>cf1c265faf01b2fb6672300a330d1ee1</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>langref_org_clojure_regex</string>
			<key>transientRecordID</key>
			<integer>523</integer>
		</dict>
		<key>list_of_additional_installed_modules_perl_.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:18Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:40Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:40Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>45537c336a93733b6861b949026aca51</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>list_of_additional_installed_modules_perl_</string>
			<key>transientRecordID</key>
			<integer>524</integer>
		</dict>
		<key>liste_der_zus_tzlich_installierten_perl_module_frank_seitz_developer_logbuch.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:18Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:41Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:41Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>e1d1c21ab6efcdb7f5d29f54da36cfac</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>liste_der_zus_tzlich_installierten_perl_module_frank_seitz_developer_logbuch</string>
			<key>transientRecordID</key>
			<integer>525</integer>
		</dict>
		<key>luafilesystem.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:18Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:43Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:43Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>3af263ce9f71a6a615bb6dfb7db0b47d</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>luafilesystem</string>
			<key>transientRecordID</key>
			<integer>526</integer>
		</dict>
		<key>luafilesystem_1.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:19Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:42Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:42Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>db7422add02dcde0659b8f7f92f82383</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>luafilesystem_1</string>
			<key>transientRecordID</key>
			<integer>527</integer>
		</dict>
		<key>luafilesystem_loop_through_directory_in_lua.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:19Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:41Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:41Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>a4ce224006c006970269c7514fedfac9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>luafilesystem_loop_through_directory_in_lua</string>
			<key>transientRecordID</key>
			<integer>528</integer>
		</dict>
		<key>macscripter_clipboard_get_contents_of.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:19Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:43Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:43Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>55e5b1a053e40a41dffe528a06695073</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>macscripter_clipboard_get_contents_of</string>
			<key>transientRecordID</key>
			<integer>529</integer>
		</dict>
		<key>make_for_dummies.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:19Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:44Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:44Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>6b43e330b772fdda762ca53fd115eff9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>make_for_dummies</string>
			<key>transientRecordID</key>
			<integer>530</integer>
		</dict>
		<key>make_for_dummies_1.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:19Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:43Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:43Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>6b43e330b772fdda762ca53fd115eff9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>make_for_dummies_1</string>
			<key>transientRecordID</key>
			<integer>531</integer>
		</dict>
		<key>make_for_dummies_2.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:19Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:44Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:44Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>6b43e330b772fdda762ca53fd115eff9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>make_for_dummies_2</string>
			<key>transientRecordID</key>
			<integer>532</integer>
		</dict>
		<key>newlisp_create_standalone_file.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:19Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:45Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:45Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>501aed55e03548fbb7c1cf0473d8d74a</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>newlisp_create_standalone_file</string>
			<key>transientRecordID</key>
			<integer>533</integer>
		</dict>
		<key>news_ycombinator_com.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:19Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:45Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:45Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>ffc64fad5c10fa0f42490bbf9439503f</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>news_ycombinator_com</string>
			<key>transientRecordID</key>
			<integer>534</integer>
		</dict>
		<key>notes_settings</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:19Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:45Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:45Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>356feb0f9fcf7329e82cfcd9699ea19f</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>notes_settings</string>
			<key>transientRecordID</key>
			<integer>535</integer>
		</dict>
		<key>nvalt_bookmarklet_think_differently_big.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:20Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:46Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:46Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>de366db1894b334368cb54915d7ac313</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>nvalt_bookmarklet_think_differently_big</string>
			<key>transientRecordID</key>
			<integer>536</integer>
		</dict>
		<key>nvalt_bookmarklet_think_differently_big_1.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:20Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:46Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:46Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>fbadd3905be28a9c4de2f28a682136e2</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>nvalt_bookmarklet_think_differently_big_1</string>
			<key>transientRecordID</key>
			<integer>537</integer>
		</dict>
		<key>oop_can_you_write_object_oriented_code_in_c_stack_overflow.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:20Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:47Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:47Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>af79a799ae4fc995cf380d37e739bba0</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>oop_can_you_write_object_oriented_code_in_c_stack_overflow</string>
			<key>transientRecordID</key>
			<integer>538</integer>
		</dict>
		<key>oop_object_orientation_in_c_stack_overflow.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:20Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:47Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:47Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>9610ee66211ecc3910f2530db81383dd</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>oop_object_orientation_in_c_stack_overflow</string>
			<key>transientRecordID</key>
			<integer>539</integer>
		</dict>
		<key>oop_object_orientation_in_c_stack_overflow_1.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:20Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:47Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:47Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>b23a2f0263e0a020ae9dabecf170aecb</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>oop_object_orientation_in_c_stack_overflow_1</string>
			<key>transientRecordID</key>
			<integer>540</integer>
		</dict>
		<key>open_chrome_in_safari.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:20Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:48Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:48Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>213829905c418b5356dc7ede15d3b118</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>open_chrome_in_safari</string>
			<key>transientRecordID</key>
			<integer>541</integer>
		</dict>
		<key>osx_how_do_i_make_a_mac_terminal_pop_up_alert_applescript_stack_overflow.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:20Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:48Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:48Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>f526d7d96c4eecaf28d2e1ba358ba3a4</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>osx_how_do_i_make_a_mac_terminal_pop_up_alert_applescript_stack_overflow</string>
			<key>transientRecordID</key>
			<integer>542</integer>
		</dict>
		<key>perl_6_rules_and_grammars_wikipedia.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:20Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:48Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:48Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>1e880e6db5a7b1f6d676c0988535fcf3</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>perl_6_rules_and_grammars_wikipedia</string>
			<key>transientRecordID</key>
			<integer>543</integer>
		</dict>
		<key>scheme_and_gauche_on_dreamhost.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:20Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:49Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:49Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>8cd540a220b43c6134fc561ac63a4309</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>scheme_and_gauche_on_dreamhost</string>
			<key>transientRecordID</key>
			<integer>544</integer>
		</dict>
		<key>scripting_clojure_with_leiningen2.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:20Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:50Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:50Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>ff95e0bc8f19552051a258c778165d83</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>scripting_clojure_with_leiningen2</string>
			<key>transientRecordID</key>
			<integer>545</integer>
		</dict>
		<key>scripting_clojure_with_leiningen_2.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:21Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:50Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:50Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>c212943158571f20459617693317cc48</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>scripting_clojure_with_leiningen_2</string>
			<key>transientRecordID</key>
			<integer>546</integer>
		</dict>
		<key>scripting_urlencode_from_a_bash_script_stack_overflow.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:21Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:29:49Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:29:49Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>796c4c05f95aef0434e3f0f9cd552287</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>scripting_urlencode_from_a_bash_script_stack_overflow</string>
			<key>transientRecordID</key>
			<integer>547</integer>
		</dict>
		<key>superwiki.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:21Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:32:53Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:32:53Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>b1946ac92492d2347c6235b4d2611184</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>superwiki</string>
			<key>transientRecordID</key>
			<integer>548</integer>
		</dict>
		<key>the_clojurescript_compilation_pipeline.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:21Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:32:52Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:32:52Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>2d676c1cb2826ab0bf52fd2e472c3d71</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>the_clojurescript_compilation_pipeline</string>
			<key>transientRecordID</key>
			<integer>549</integer>
		</dict>
		<key>url_decode_und_encode_in_der_bash.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:21Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:32:52Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:32:52Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>afff6ec9612ae1834de84db796fec3cb</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>url_decode_und_encode_in_der_bash</string>
			<key>transientRecordID</key>
			<integer>550</integer>
		</dict>
		<key>url_decode_und_encode_in_der_bash_with_perl.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:21Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:32:52Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:32:52Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>d6e880e0fab2e036537ad70c3213ee0f</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>url_decode_und_encode_in_der_bash_with_perl</string>
			<key>transientRecordID</key>
			<integer>551</integer>
		</dict>
		<key>url_handler_scheme_for_macvim_on_mac_os_x.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:21Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:32:53Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:32:53Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>bcf3cb9be056eb031b39b25743bdb4d4</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>url_handler_scheme_for_macvim_on_mac_os_x</string>
			<key>transientRecordID</key>
			<integer>552</integer>
		</dict>
		<key>urlencode_from_a_bash_script.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:21Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:32:54Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:32:54Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>53ab5c4578624d656059825baff95b12</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>urlencode_from_a_bash_script</string>
			<key>transientRecordID</key>
			<integer>553</integer>
		</dict>
		<key>urlencode_from_a_bash_script_1.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:21Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:32:53Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:32:53Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>53ab5c4578624d656059825baff95b12</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>urlencode_from_a_bash_script_1</string>
			<key>transientRecordID</key>
			<integer>554</integer>
		</dict>
		<key>urlencode_from_a_bash_script_2.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:21Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:32:54Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:32:54Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>0ce87c9e28c77d10a3093653e40c5116</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>urlencode_from_a_bash_script_2</string>
			<key>transientRecordID</key>
			<integer>555</integer>
		</dict>
		<key>urlencode_from_a_bash_script_3.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:22Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:32:54Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:32:54Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>0ce87c9e28c77d10a3093653e40c5116</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>urlencode_from_a_bash_script_3</string>
			<key>transientRecordID</key>
			<integer>556</integer>
		</dict>
		<key>value_of_global_variable_doesn_t_change_in_bash.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:22Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:32:53Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:32:53Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>57d0e04676bb447d873a12b7027cc626</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>value_of_global_variable_doesn_t_change_in_bash</string>
			<key>transientRecordID</key>
			<integer>557</integer>
		</dict>
		<key>wrote_some_simple_documentation_abo.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:22Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:32:54Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:32:54Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>15095b2de3d96f5b14a86fa2e86769f6</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>wrote_some_simple_documentation_abo</string>
			<key>transientRecordID</key>
			<integer>558</integer>
		</dict>
		<key>xx_fuck_.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:22Z</date>
			<key>dateCreated</key>
			<date>2017-11-27T10:32:53Z</date>
			<key>dateModified</key>
			<date>2017-11-27T10:32:53Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>a16246dd25c3b9d52a311943868ac653</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>xx_fuck_</string>
			<key>transientRecordID</key>
			<integer>559</integer>
		</dict>
	</dict>
	<key>folder</key>
	<string>Files/notebooks/technotes/misc</string>
	<key>library</key>
	<string>../../../../bkb-cloud.eflibrary</string>
	<key>tags</key>
	<dict>
		<key>tagsByName</key>
		<dict>
			<key>unread</key>
			<dict>
				<key>abbreviation</key>
				<string>●</string>
				<key>color</key>
				<array>
					<real>0.29999999999999999</real>
					<real>0.39600000000000002</real>
					<real>0.81000000000000005</real>
					<real>1</real>
				</array>
			</dict>
		</dict>
	</dict>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
