<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filesByName</key>
	<dict>
		<key>.zim</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:35Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:21Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>704</integer>
		</dict>
		<key>Code</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:35Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:21Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>705</integer>
		</dict>
		<key>Code.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:36Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>e9e3a2ea4511e471fb9543ccf85f3d22</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>Code</string>
			<key>transientRecordID</key>
			<integer>710</integer>
		</dict>
		<key>Emacs</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:36Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:21Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>712</integer>
		</dict>
		<key>Emacs.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:36Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>34d1a80dac0b851b06784457c6b48114</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>Emacs</string>
			<key>transientRecordID</key>
			<integer>714</integer>
		</dict>
		<key>Errors</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:36Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:21Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>715</integer>
		</dict>
		<key>Errors.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:36Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>93d75b6b1fc7a9b8e1a8c54faced1ff5</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>Errors</string>
			<key>transientRecordID</key>
			<integer>718</integer>
		</dict>
		<key>FuckMe</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:37Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>c2de58e9dc300210a54e34dc23ecd378</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>FuckMe</string>
			<key>transientRecordID</key>
			<integer>719</integer>
		</dict>
		<key>Home.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:37Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>b6e4b1e56f71bbf0dfba64dfc5775599</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>Home</string>
			<key>transientRecordID</key>
			<integer>720</integer>
		</dict>
		<key>Journal</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:37Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:21Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>726</integer>
		</dict>
		<key>Manuals</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:38Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:21Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>733</integer>
		</dict>
		<key>Manuals.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:38Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>18ed100a7bd8aaa42e130b7413d7b8f8</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>Manuals</string>
			<key>transientRecordID</key>
			<integer>735</integer>
		</dict>
		<key>Md2zim.pm</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:38Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>0753607f91fcd11747467adbe03b0c74</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>Md2zim</string>
			<key>transientRecordID</key>
			<integer>738</integer>
		</dict>
		<key>Notes</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:39Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:21Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>740</integer>
		</dict>
		<key>Notes.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:49Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>5b52fa749bbaf06b453186ea0941a0b4</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>Notes</string>
			<key>transientRecordID</key>
			<integer>844</integer>
		</dict>
		<key>Ocaml</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:49Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:21Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>845</integer>
		</dict>
		<key>Ocaml.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:50Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>42e2130530e9539e3e16842ed2f377ee</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>Ocaml</string>
			<key>transientRecordID</key>
			<integer>852</integer>
		</dict>
		<key>Perl.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:50Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>155e2b9c18d3a1a88be1a0c4a9163f58</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>Perl</string>
			<key>transientRecordID</key>
			<integer>853</integer>
		</dict>
		<key>Perloneliners.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:50Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>d6533ba6f56f6ec2140bfded747f2e23</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>Perloneliners</string>
			<key>transientRecordID</key>
			<integer>854</integer>
		</dict>
		<key>Projects</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:50Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:21Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>856</integer>
		</dict>
		<key>Projects.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:50Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>bbc85a2f97ed504edb73810753c16ee9</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>Projects</string>
			<key>transientRecordID</key>
			<integer>860</integer>
		</dict>
		<key>Racket</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:50Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:21Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>861</integer>
		</dict>
		<key>Scheme</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:51Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:21Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>866</integer>
		</dict>
		<key>Scheme.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:52Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>196de601ed10a33cf87f9fa4e89f056f</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>Scheme</string>
			<key>transientRecordID</key>
			<integer>876</integer>
		</dict>
		<key>WikiHelp</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:52Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:11Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>bf088fb03c44f5101371c47d7720df18</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>WikiHelp</string>
			<key>transientRecordID</key>
			<integer>879</integer>
		</dict>
		<key>WikiHome</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:52Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>f18d729a54080bcf53547ad965da1ac2</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>WikiHome</string>
			<key>transientRecordID</key>
			<integer>880</integer>
		</dict>
		<key>elisp-guide.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:36Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>3ef8086c181850c7c6e3f394e20d0375</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>elisp-guide</string>
			<key>transientRecordID</key>
			<integer>711</integer>
		</dict>
		<key>import</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:37Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:21Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>721</integer>
		</dict>
		<key>import.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:37Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>14580caab5ee5d6fdb20065979c43a49</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>import</string>
			<key>transientRecordID</key>
			<integer>724</integer>
		</dict>
		<key>install.sh</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:37Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>8199b2f47db54d179cbcd125bec16383</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>install</string>
			<key>transientRecordID</key>
			<integer>725</integer>
		</dict>
		<key>marks.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:38Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>7d30418eade3458f2640aa1d2825bd6f</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>marks</string>
			<key>transientRecordID</key>
			<integer>736</integer>
		</dict>
		<key>md2zim.pl</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:38Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>0753607f91fcd11747467adbe03b0c74</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>md2zim</string>
			<key>transientRecordID</key>
			<integer>737</integer>
		</dict>
		<key>notebook.zim</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:38Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>f152cad1072696bda2f853a09c1397d4</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>notebook</string>
			<key>transientRecordID</key>
			<integer>739</integer>
		</dict>
		<key>pgrep_trick.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:50Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>86356258888a3e77e4738d21f588788a</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>pgrep_trick</string>
			<key>transientRecordID</key>
			<integer>855</integer>
		</dict>
		<key>test.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:52Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>b8e5a877de135a782021a52301fb44ba</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>test</string>
			<key>transientRecordID</key>
			<integer>877</integer>
		</dict>
		<key>vi.mk</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:52Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:09Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>ca57d6cdaafd76652831917d305231e8</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>vi</string>
			<key>transientRecordID</key>
			<integer>878</integer>
		</dict>
	</dict>
	<key>folder</key>
	<string>Files/notebooks/technotes/wiki_old</string>
	<key>library</key>
	<string>../../../../bkb-cloud.eflibrary</string>
	<key>tags</key>
	<dict>
		<key>tagsByName</key>
		<dict>
			<key>unread</key>
			<dict>
				<key>abbreviation</key>
				<string>●</string>
				<key>color</key>
				<array>
					<real>0.29999999999999999</real>
					<real>0.39600000000000002</real>
					<real>0.81000000000000005</real>
					<real>1</real>
				</array>
			</dict>
		</dict>
	</dict>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
