<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filesByName</key>
	<dict/>
	<key>folder</key>
	<string>Files/notebooks/technotes/clojure</string>
	<key>library</key>
	<string>../../../../bkb-cloud.eflibrary</string>
	<key>tags</key>
	<dict>
		<key>tagsByName</key>
		<dict/>
	</dict>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
