<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filesByName</key>
	<dict>
		<key>apache.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:31Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>f1f6c74a8f3e941bdf6afc898a2a467b</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>apache</string>
			<key>transientRecordID</key>
			<integer>661</integer>
		</dict>
		<key>apache2-directory-permissions.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:31Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>b43025581a7150f149a372fa883e1c1f</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>apache2-directory-permissions</string>
			<key>transientRecordID</key>
			<integer>662</integer>
		</dict>
		<key>apache24-directory-index.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:32Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>7de425687dd04df86b9513826e27ecf6</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>apache24-directory-index</string>
			<key>transientRecordID</key>
			<integer>663</integer>
		</dict>
		<key>apache24-http-vhost-conf-file.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:32Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>e51e31615411377a9802dcce1f80f7db</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>apache24-http-vhost-conf-file</string>
			<key>transientRecordID</key>
			<integer>664</integer>
		</dict>
		<key>apache24-start-stop-reload.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:32Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>f248ceba033c16b84d83416446e90eda</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>apache24-start-stop-reload</string>
			<key>transientRecordID</key>
			<integer>665</integer>
		</dict>
		<key>enable_ssh_for_user.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:32Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>26547ac55b2c98ae2946deeba30c7c09</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>enable_ssh_for_user</string>
			<key>transientRecordID</key>
			<integer>666</integer>
		</dict>
		<key>file_listings_in_user_web.md</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:32Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>8c370b51674a45707ec069fb0b3f07d7</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>file_listings_in_user_web</string>
			<key>transientRecordID</key>
			<integer>667</integer>
		</dict>
		<key>restart_sshd.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:32Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>476ae51e3328a9fc7e869d6e4a21d81e</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>restart_sshd</string>
			<key>transientRecordID</key>
			<integer>668</integer>
		</dict>
		<key>ssh_refuses_key.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:32Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>ecb9f3fe1d17e7412e5024ddba7b68fd</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>ssh_refuses_key</string>
			<key>transientRecordID</key>
			<integer>669</integer>
		</dict>
	</dict>
	<key>folder</key>
	<string>Files/notebooks/technotes/synology</string>
	<key>library</key>
	<string>../../../../bkb-cloud.eflibrary</string>
	<key>tags</key>
	<dict>
		<key>tagsByName</key>
		<dict>
			<key>unread</key>
			<dict>
				<key>abbreviation</key>
				<string>●</string>
				<key>color</key>
				<array>
					<real>0.29999999999999999</real>
					<real>0.39600000000000002</real>
					<real>0.81000000000000005</real>
					<real>1</real>
				</array>
			</dict>
		</dict>
	</dict>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
