<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>filesByName</key>
	<dict>
		<key>Notes &amp; Settings</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:24Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>5e3db3987fcc12517411729eaf210db5</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>Notes &amp; Settings</string>
			<key>transientRecordID</key>
			<integer>579</integer>
		</dict>
		<key>Notes_&amp;_Settings</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:24Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>d4a6698a3826eee62a9c27e02707571d</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>Notes_&amp;_Settings</string>
			<key>transientRecordID</key>
			<integer>580</integer>
		</dict>
		<key>carddav synology adresses.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:22Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>cc750899f37118299c1aa1a479c8352c</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>carddav synology adresses</string>
			<key>transientRecordID</key>
			<integer>561</integer>
		</dict>
		<key>carddav_synology_adresses.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:22Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>cc750899f37118299c1aa1a479c8352c</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>carddav_synology_adresses</string>
			<key>transientRecordID</key>
			<integer>562</integer>
		</dict>
		<key>change hosts file on windows.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:22Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>ba2b4665809a25348face70d948cfac4</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>change hosts file on windows</string>
			<key>transientRecordID</key>
			<integer>563</integer>
		</dict>
		<key>change permissions of all folders and files in directory.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:22Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>ee1f37757dadaf4309f581303c6b329f</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>change permissions of all folders and files in directory</string>
			<key>transientRecordID</key>
			<integer>564</integer>
		</dict>
		<key>change_hosts_file_on_windows.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:22Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>ba2b4665809a25348face70d948cfac4</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>change_hosts_file_on_windows</string>
			<key>transientRecordID</key>
			<integer>565</integer>
		</dict>
		<key>change_permissions_of_all_folders_and_files_in_directory.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:22Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>ee1f37757dadaf4309f581303c6b329f</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>change_permissions_of_all_folders_and_files_in_directory</string>
			<key>transientRecordID</key>
			<integer>566</integer>
		</dict>
		<key>connect to samba nas disc on mac os x.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:23Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>ad567a89ba7460cbf8201def31c62d0c</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>connect to samba nas disc on mac os x</string>
			<key>transientRecordID</key>
			<integer>567</integer>
		</dict>
		<key>copy key with ssh.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:23Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>3ebfd4b60811d13c9c32122d767c1fca</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>copy key with ssh</string>
			<key>transientRecordID</key>
			<integer>568</integer>
		</dict>
		<key>copy_key_with_ssh.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:23Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>3ebfd4b60811d13c9c32122d767c1fca</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>copy_key_with_ssh</string>
			<key>transientRecordID</key>
			<integer>569</integer>
		</dict>
		<key>displ.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:23Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>d41d8cd98f00b204e9800998ecf8427e</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>displ</string>
			<key>transientRecordID</key>
			<integer>570</integer>
		</dict>
		<key>execute GUI programs on remote system.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:23Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>a6aacf5b27bb6e3adedacde3c221dd1c</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>execute GUI programs on remote system</string>
			<key>transientRecordID</key>
			<integer>571</integer>
		</dict>
		<key>execute_GUI_programs_on_remote_system.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:23Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>a6aacf5b27bb6e3adedacde3c221dd1c</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>execute_GUI_programs_on_remote_system</string>
			<key>transientRecordID</key>
			<integer>572</integer>
		</dict>
		<key>force unmount of a remote network folder.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:23Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>eac52b3fbd149e478b20ccd67b1f0234</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>force unmount of a remote network folder</string>
			<key>transientRecordID</key>
			<integer>573</integer>
		</dict>
		<key>force_unmount_of_a_remote_network_folder.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:23Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>eac52b3fbd149e478b20ccd67b1f0234</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>force_unmount_of_a_remote_network_folder</string>
			<key>transientRecordID</key>
			<integer>574</integer>
		</dict>
		<key>gnupg</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:23Z</date>
			<key>dateCreated</key>
			<date>2017-08-24T12:54:21Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>transientRecordID</key>
			<integer>575</integer>
		</dict>
		<key>install.sh</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:23Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>811902c53fc5da7ac24108411184b530</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>install</string>
			<key>transientRecordID</key>
			<integer>577</integer>
		</dict>
		<key>my_hardware.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:24Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>80e6dc4c153459f0bc28ba5f579cd93d</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>my_hardware</string>
			<key>transientRecordID</key>
			<integer>578</integer>
		</dict>
		<key>pgp.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:24Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>6457513b8d1e5c6a6b2b2076b1742f05</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>pgp</string>
			<key>transientRecordID</key>
			<integer>581</integer>
		</dict>
		<key>scratch.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:24Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>d5d2362de9a0e40499ae282917ba5ee1</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>scratch</string>
			<key>transientRecordID</key>
			<integer>582</integer>
		</dict>
		<key>show numeric octal permission values of files.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:24Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:08Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>e9b8bc50c0ee4aecbeb9eb96cf0a923a</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>show numeric octal permission values of files</string>
			<key>transientRecordID</key>
			<integer>583</integer>
		</dict>
		<key>show_numeric_octal_permission_values_of_files.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:24Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>e9b8bc50c0ee4aecbeb9eb96cf0a923a</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>show_numeric_octal_permission_values_of_files</string>
			<key>transientRecordID</key>
			<integer>584</integer>
		</dict>
		<key>ssh key generation.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:24Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>3b3c1a697b56096838f5484775476c76</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>ssh key generation</string>
			<key>transientRecordID</key>
			<integer>585</integer>
		</dict>
		<key>ssh_key_generation.txt</key>
		<dict>
			<key>dateAdded</key>
			<date>2017-12-19T15:40:25Z</date>
			<key>dateCreated</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>dateModified</key>
			<date>2017-07-17T18:30:07Z</date>
			<key>label</key>
			<integer>0</integer>
			<key>md5</key>
			<string>ff4c8ff01d544500ea4bfea43e6108c1</string>
			<key>tags</key>
			<array>
				<string>unread</string>
			</array>
			<key>title</key>
			<string>ssh_key_generation</string>
			<key>transientRecordID</key>
			<integer>586</integer>
		</dict>
	</dict>
	<key>folder</key>
	<string>Files/notebooks/technotes/notes</string>
	<key>library</key>
	<string>../../../../bkb-cloud.eflibrary</string>
	<key>tags</key>
	<dict>
		<key>tagsByName</key>
		<dict>
			<key>unread</key>
			<dict>
				<key>abbreviation</key>
				<string>●</string>
				<key>color</key>
				<array>
					<real>0.29999999999999999</real>
					<real>0.39600000000000002</real>
					<real>0.81000000000000005</real>
					<real>1</real>
				</array>
			</dict>
		</dict>
	</dict>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
